<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio | Registro concluído</title>
    <link rel="stylesheet" href="../css/normal/reset.css" />
    <link rel="stylesheet" href="../css/normal/registro_concluido.css" />
    
  </head>
  <body>
      <div class="e-loadholder">
        <div class="m-loader">
          <span class="e-text">Iniciando Sesion</span>
        </div>
      </div>
      <div id="particleCanvas-Blue"></div>
      <div id="particleCanvas-White"></div>
      <!-- <script src="../js/loading.js"></script> -->
      <script src="../js/redireccionar/enviar_productos.js"></script>
  </body>
</html>
