:root {
    --letras-header: #464646; 
    --fondoGris: #EDEDED;
    --fondoAzul: #EAF2FD;
    --font-family-body: "Montserrat", sans-serif;
    --font-family-logo: "Pacifico", cursive;
  
    --font-weigth-input: 300;
  
    --font-size-logo: 28px;
    --font-size-card-title: 28px;
    --font-size-input-label: 20px;
    --font-size-button: 22px;
    --font-size-form-fieldset: 22px;
    --font-size-table-header: 22px;
    --font-size-modal-title: 28px;
    --font-size-modal-button: 28px;
  
    --primary-color: #0071ea;
    --secondary-color: #d6eaff;
    --contrast-dark-color: #4d4d4d;
  
    --contrast-light-color: #fff;
    --warning-color: #df2525;
    --success-color: #047900;
    --transparency-color: #4d4d4d33;
  
    --shadow: 0 5px 10px #55a6ff38;
    --alturaHeaderFooter: 0px;
    --largoNav: 0px;
  }
body{
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}
.input-label,.textarea-label{
    color: #A2A2A2;
}

a:link, a:visited, a:active {
    color: #464646;
    text-decoration:none;
}
h1,h2,h3{
    padding: 0;
    margin: 0;
}
header{
    padding: 1.5rem 0;
    background-color: #ffffff;
}
#nav{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container{
    display: flex;
    align-items: center;
}
#containerBusqueda{
    justify-content: space-between;
    width: 100%;
}
#divAluraGeek{
    display: flex;
    gap: 0.25rem;
    margin-right: 1.5rem;
}
.textoAluraGeek{
    font-weight: bold;
    font-size: 1.75rem;
    text-shadow: 0.25px 0.25px;
}
.textoAluraGeek:nth-child(1){
    color: #2A7AE4;
}
.containerBusqueda{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.contenidoBusqueda{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    /* gap: 1.25rem; */
    border-radius: 3%;
    top: 2rem;
    z-index: 1;
    background-color: #f5f5f5;
    padding: 1rem 0;
}
.divHover{
    padding: 1rem;
}
.labelProductoBusqueda{
    font-family: 'Raleway', sans-serif;
    color: #3ea6e2ee;
    font-weight: bold;
    /* padding-left: 1rem; */
    width: fit-content;
}
.divHover:hover{
    background-color: hsl(0, 0%, 83%);
}
.divHover:hover .labelProductoBusqueda{
    color: white;
}
.busquedaNone{
    display: none;
}
.busquedaFlex{
    display: flex;
}
.inputBuscar{
    outline: none;
    border: none;
    width: var(--largoNav);
    padding: 0.5rem 2rem;
    background-color: hsla(0, 0%, 83%, 0.781);
    border-radius: 20px;
    font-size: 0.75rem;
    transition: .7s;
}
.inputBuscar::placeholder{
    color: grey;
}
.btn{
    position: absolute;
    top: 25%;
    right: 0.25rem;
}
.btn i{
    color: grey;
    transition: all .7s ease;
}
/* .containerBusqueda:hover .inputBuscar{
    width: var(--largoNav);
} */
.containerBusqueda:hover i{
    transform: rotate(-360deg);
}
#btnLogin{
    padding: 1rem 0;
    width: 12vw;
    border: 1px solid #2A7AE4;
    background: transparent;
    color: #2A7AE4;
}
#btnAdmin{
    padding: 1rem 0;
    width: 20vw;
    border: 1px solid #2A7AE4;
    background: transparent;
    color: #2A7AE4;
}
.containerBusqueda:hover > #btnLogin{
    border: 1px solid black;

}





