main{
    height: auto;
    padding-bottom: 4rem;
}
.divBanner{
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
}
.imgBanner{
    object-fit: cover;
    width:100%;
}
.contenidoBanner{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2rem;
    left: 7.5%;
    gap: 1rem;
}
#tituloBanner{
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    color: #FFF;
}
#labelBanner{
    font-family: 'Raleway', sans-serif;
    font-size: 1.35rem;
    color: #FFF;
}

#btnVerConsolas{
    width: 20%;
    border: none;
    color: #FFF;
    background-color: #2A7AE4;
    padding: 1rem 0;
}

.containerProductos{
    width: 85%;
    height: 90%;
    margin: 0 auto;
}

.divTituloBtnAgregar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.labelProductos{
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
}
.divVerTodoFlecha{
    display: flex;
    gap: 0.75rem;
}
.labelVerTodo, .iconFlecha, .labelVerProducto{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #2A7AE4;
    font-weight: bold;
}
.labelVerProducto{
    display: flex;
    padding: 0;
    width: fit-content;
    border: none;
    background-color: transparent;
}
#btnEnviarAgregarProducto{
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: #2A7AE4;
    color: #FFF;
    padding: 1rem 0.75rem;
}
.divCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.card{
    display: flex;
    flex-direction: column;
    width: calc(15.93% - 2px);
    height: 33vh;
    /* border: 1px solid; */
    margin-bottom: 1rem;
}
.divImg{
    position: relative;
    width: 100%;
    height: 20vh;
    /* border: 1px solid green; */
}
.imgCard{
    object-fit: cover;
    width:100%;
    height:100%;
}
.divIconEditarBorrar{
    position: absolute;
    display: flex;
    gap: 1rem;
    right: 0.5rem;
    top: 0.5rem;
}
.btnIcon{
    color: white;
}
.divContenido{
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
}
