main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--alturaHeaderFooter));
}
.divIniciarSesion{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.75rem;
}
.labelIniciarSesion{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #464646;
}
#btnEntrar{
    width: 100%;
    font-size: 1.25rem;
}
