main{
    padding: 3rem 0;
}
#divProductoIndividual{
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
#divImgProductoIndividual{
    width: 50%;
    height: 45vh;
}
.imgProductoIndividual{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#divContenidoProductoIndividual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    width: 50%;
    height: auto;
    gap: 0.5rem;
}
#labelTituloProducto{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}
.precioProductoIndividual{
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}
.descripcionProductoIndividual{
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
}
#containerProductos{
    width: 85%;
    height: 90%;
    margin: 0 auto;
}
#divTituloBtnAgregar{
    padding: 1rem 0;
}
#labelProductos{
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
}
.divCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.card{
    display: flex;
    flex-direction: column;
    width: calc(15.93% - 2px);
    height: 33vh;
    /* border: 1px solid; */
    margin-bottom: 1rem;
}
.divImg{
    position: relative;
    width: 100%;
    height: 20vh;
    /* border: 1px solid green; */
}
.imgCard{
    object-fit: cover;
    width:100%;
    height:100%;
}
.divIconEditarBorrar{
    position: absolute;
    display: flex;
    gap: 1rem;
    right: 0.5rem;
    top: 0.5rem;
}
.btnIcon{
    color: white;
}
.divContenido{
    display: flex;
    width: 100%;
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
}
.labelVerTodo, .iconFlecha, .labelVerProducto{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #2A7AE4;
    font-weight: bold;
}
.labelVerProducto{
    display: flex;
    padding: 0;
    width: fit-content;
    border: none;
    background-color: transparent;
}